@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/inter/index.css';

@layer base {
  html,
  body {
    @apply h-full block;
  }
}

@layer components {
}

@layer utilities {
  .login-position {
    @apply h-fit absolute w-full;
    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
