.underline-hover:hover {
    text-decoration: underline;
}

.overflow-hidden {
  overflow: hidden;
}

.btn-icon {
  font-size: 24px;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.p-xs {
  padding: 24px;
}

.px-xs {
  padding: 0 24px 0 24px;
}

.pt-xs {
  paddding-top: 24px;
}
